network:
  version: 2
  renderer: networkd
  ethernets:
    {{ network_interface | default('eth0') }}:
      dhcp4: false
      addresses:
        - {{ static_ip }}
      routes:
        - to: default
          via: {{ network_gateway | default('172.16.15.1') }}
      nameservers:
        addresses:
{% for dns_server in network_dns_servers | default(['172.16.15.1', '1.1.1.1']) %}
          - {{ dns_server }}
{% endfor %}
        search:
          - specterrealm.com

